/* start of about sequoia banner */
.sequoia-about-banner{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}

.sequoia-about-banner h1:before {
  content: "";
  display: block;
  width: 84px;
  height: 6px;
  background-color: #ad4c25;
  margin-bottom: 12px;
  border-radius: 24px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);

}
 /* end of about sequoia banner */


/* start of  sequoia about */
.sequoia-about .ss-content-title h2:before {
  content: "";
  display: block;
  width: 84px;
  height: 6px;
  background-color: #ad4c25;
  margin-bottom: 12px;
  border-radius: 24px;
}
.sequoia-about .image-wrapper-top img {
  border-top-left-radius: 50%;
}
/* end of about sequoia about */


/* start of  sequoia story banner */
.sequoia-story-banner{
   background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}
.sequoia-story-banner h2:before {
  content: "";
  display: block;
  width: 84px;
  height: 6px;
  background-color: #ad4c25;
  margin-bottom: 12px;
  border-radius: 24px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
/* end of  sequoia story banner */


/* start of  sequoia story */
.sequoia-story .ss-content-title h2:before {
  content: "";
  display: block;
  width: 84px;
  height: 6px;
  background-color: #ad4c25;
  margin-bottom: 12px;
  border-radius: 24px;
}
.sequoia-story .image-wrapper-bottom img {
  border-top-right-radius: 50%;
}
/* end of  sequoia story */

/*start of sequoia-process-banner */
.sequoia-process-banner{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}
.sequoia-process-banner h2:before {
  content: "";
  display: block;
  width: 84px;
  height: 6px;
  background-color: #ad4c25;
  margin-bottom: 12px;
  border-radius: 24px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
/*end of sequoia-process-banner */


/*start of sequoia-values-banner */
.sequoia-values-banner {
    min-height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
  }

  .sequoia-values-banner .values-rectangle-border {
  border: 4px solid white;
  border-right: none;
  width: 85%;
  border-top-left-radius: 30% 100%;
  border-bottom-left-radius: 30% 100%;
  height: 75%;
  background-color: transparent;
  top: 50%;
  right: 0;
  position: absolute;
  transform: translateY(-50%);
  z-index: 2;
  padding: 10px 0 10px 10px;
}
.sequoia-values-banner .values-rectangle {
  background-color: #ad4c25;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  border-top-left-radius: 30% 100%;
  border-bottom-left-radius: 30% 100%;
  padding: 0px 40px 0 110px;
}
.sequoia-values-banner .values-circle {
  background-repeat: no-repeat;
  background-size: cover !important;
   background-position: left center;
  height: 182px;
  width: 186px;
  border-radius: 50%;
}
.sequoia-values-banner .values-circle-border {
  height: 210px;
  width: 210px;
  border-radius: 50%;
  background: transparent;
  border: 4px solid white;
 border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  z-index: 5; 
  padding: 10px;
}

/*end of sequoia-values-banner */







/* start of sequoia team css */
.sequoia-team h2:before {
  content: "";
  display: block;
  width: 84px;
  height: 6px;
  background-color: #ad4c25;
  margin-bottom: 12px;
  border-radius: 24px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);

}
.sequoia-team h3::before {
 content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #ad4c25;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: -5px 0;
  border-radius: 24px;}
.sequoia-team h4 {
  color: #ad4c25;
}
.sequoia-team .team-wrapper .sequoia-team-img {
  position: relative;
  overflow: hidden;
}

.sequoia-team .team-wrapper .sequoia-team-img img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.4s ease;
}

.sequoia-team .team-wrapper .img-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.sequoia-team .team-wrapper .sequoia-team-img:hover .img-hover {
  opacity: 1;
}

.sequoia-team .team-wrapper .sequoia-team-img:hover .img-front {
  opacity: 0;
}
.sequoia-team .team-wrapper:hover h3 {
  color: #6e1011;
}
.sequoia-team .team-wrapper:hover h4 {
  color: #6e1011;
}
.sequoia-team .team-wrapper:hover h3::before {
  background-color: #6e1011;
}

/* end of sequoia team css */



/* Media query for screens from 426px width (typical mobile screens) */
@media (max-width: 426px) {
 

  .sequoia-values-banner .values-circle  {
    width: 139px;
    height: 139px;
  }

  .sequoia-values-banner .values-circle-border{
    width: 165px;
    height: 165px;
    top: 13%;
    left: 49%;
  }

  .sequoia-values-banner .values-rectangle {
    height: 100%;
    border-top-left-radius: 196px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 0%;
    padding: 30px 15px 10px 15px;

  }
  .sequoia-values-banner .values-rectangle-border {
    border-top-left-radius: 196px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 0%;
    border: 4px solid white;
    padding-right: 10px;
    top: 55%;
    left: 5.5%;
    height: 87%;
    width: 89%;
  }
  .sequoia-values-banner .values-rectangle h2 {
text-align: center;  }
  

  .sequoia-values-banner {
    min-height: 120vh;
  }
  .position-absolute {
    width: 90%;
  }
  ss-content-title {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

@media (max-width: 768px) {
  
 
  .ss-content-title {
    padding-left: 30px ;
    padding-right: 30px;
  }
}
