/* start of about sequoia banner */

.sequoia-values-banner {
  min-height: 90vh;
  width: 100%;
}

.sa .position-absolute {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* end of about sequoia banner */

.sequoia-values-banner {
 min-height: 80vh;
}
.sa h3:before {
  content: "";
  display: block;
  width: 84px;
  height: 6px;
  background-color: #ad4c25;
  margin-bottom: 12px;
  border-radius: 24px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
h4:before {
  content: "";
  display: block;
  width: 84px;
  height: 6px;
  background-color: #ad4c25;
  margin-bottom: 12px;
  border-radius: 24px;
}
.image-wrapper-top img {
  border-top-left-radius: 50%;
}
.image-wrapper-bottom img {
  border-bottom-right-radius: 50%;
}


.height-90vh {
  height: 60vh;
}

/* .sequoia values css */

.values-rectangle-border {
  border: 4px solid white;
  border-right: none;
  width: 85%;
  border-top-left-radius: 30% 100%;
  border-bottom-left-radius: 30% 100%;
  height: 75%;
  background-color: transparent;
  top: 50%;
  right: 0;
  position: absolute;
  transform: translateY(-50%);
  z-index: 2;
  padding: 10px 0 10px 10px;
}
.values-rectangle {
  background-color: #ad4c25;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  border-top-left-radius: 30% 100%;
  border-bottom-left-radius: 30% 100%;
  padding: 0px 40px 0 110px;
}

.values-circle {
  background: url("../images/man.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 182px;
  width: 186px;
  border-radius: 50%;
}
.values-circle-border {
  height: 210px;
  width: 210px;
  border-radius: 50%;
  background: transparent;
  border: 4px solid white;
 border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  z-index: 5; 
  padding: 10px;
}

/* .sequoia value css end */

.people-name {
  font-size: 3rem;
  font-weight: 600;
}
.people-title {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 10px;
  color: #ad4c25;
}
.people-name::before {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #ad4c25;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: -5px 0;
  border-radius: 24px;
}
.sequoia-team-img {
  position: relative;
  overflow: hidden;
}

.sequoia-team-img img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.4s ease;
}

.img-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.sequoia-team-img:hover .img-hover {
  opacity: 1;
}

.sequoia-team-img:hover .img-front {
  opacity: 0;
}
.team-wrapper:hover .people-name {
  color: #6e1011;
}
.team-wrapper:hover .people-title {
  color: #6e1011;
}
.team-wrapper:hover .people-name::before {
  background-color: #6e1011;
}

/* Media query for screens from 426px width (typical mobile screens) */
@media (max-width: 426px) {
 

  .values-circle {
    width: 139px;
    height: 139px;
  }

  .values-circle-border {
    width: 165px;
    height: 165px;
    top: 13%;
    left: 49%;
  }

  .values-rectangle {
    height: 100%;
    border-top-left-radius: 196px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 0%;
    padding: 30px 15px 10px 15px;

  }
  .values-rectangle-border {
    border-top-left-radius: 196px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 0%;
    border: 4px solid white;
    padding-right: 10px;
    top: 55%;
    left: 5.5%;
    height: 87%;
    width: 89%;
  }
  .values-rectangle h2, p{
    text-align: center;
  }
  .sequoia-values-banner {
    min-height: 120vh;
  }
  .position-absolute {
    width: 90%;
  }
  ss-content-title {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

@media (max-width: 768px) {
  
 
  .ss-content-title {
    padding-left: 30px ;
    padding-right: 30px;
  }
}
